---
BasedOnStyle: GNU
AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
BinPackParameters: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeBraces: GNU
BreakStringLiterals: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '<[[:alnum:].]+>'
    Priority:        1
  - Regex:           '.*'
    Priority:        2
    SortPriority:    0
IndentCaseBlocks: true
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Right
# QualifierAlignment: Left
# QualifierOrder: [static, const, inline, volatile]
ReferenceAlignment: Right
ReflowComments: true
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: ControlStatements
IndentWidth: 4
